<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/customers">Product list</a>
</p>


<form method="POST" enctype="multipart/form-data">
    <div>
        <label>Image</label>
        <input type="file" name="image"/>
    </div>
    <table>
        <tr>
            <td><label>
                <input type="text" name="name"/>
            </label></td>
        </tr>
        <tr>
            <td><label>
                <input type="text" name="price"/>
            </label></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create Product"></td>
        </tr>
    </table>
</form>
</body>
</html>